* {
  box-sizing: border-box;
}

body {
  background-color: #e9e8e8 !important;
}

.main-page {
  max-width: 500px;
  min-height: 100vh;
  box-shadow: 0 0 48px 0 rgb(0 0 0 / 20%);
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f2f2f7 !important;
}

.btn-group-vertical {
  width: 100%;
  background-color: #ffff;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #f2f2f7;
  border-style: solid none solid none;
  border-radius: 0px;
  text-align: left;
}

span.right-button {
  float: right;
  padding-right: 5px;
}
span.left-button {
  float: left;
  padding-right: 15px;
  padding-left: 5px;
}
